/**************************************

======================================  
        Table Of Contents
======================================
1. Typography
2. Preloader Style
3. General Layout Styles
4. Onboarding
5. Sign in 
6. Sidebar
7. Dashboard
8. Upload Form

/*=======================================================================
1. Typography
=========================================================================*/
html {
    height: 100%;
}
body {
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    height: 100%;
    line-height: 2;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    color: #222222;
    background-color: #F6F6F6;    
}

.px-7 {
    padding-left: 70px !important;
    padding-right: 70px !important;
}

.px-8 {
    padding-left: 80px !important;
    padding-right: 80px !important;
}

.relative {
    position: relative;
}

a {
    text-decoration: none;
    color: #24488F;
}
p {
    margin: 0 0 20px 0;
    color: #222222;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-family: 'Noto Sans', sans-serif;
    margin: 0 0 20px 0;
    color: #111111;
}

h1 {
    font-size: 55px;
    font-weight: 600;
}
h2 {
    font-size: 50px;
    font-weight: 600;
}

h3 {
    font-size: 45px;
    font-weight: 600;
}

/*========================================================================
2. Preloader Style
=========================================================================*/
body #preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: #fff;
    overflow: hidden;
    display: block;
}
body #preloader img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}
body.loaded #preloader {
    display: none;
}
  
/*========================================================================
3. General Layout Styles
=========================================================================*/

.ps-8 {
    padding-left: 80px;
}

.mb-7 {
    margin-bottom: 70px;
}

.mt-7 {
    margin-top: 70px;
}

.mt-8 {
    margin-top: 80px;
}

.mt-9 {
    margin-top: 90px;
}

.mt-10 {
    margin-top: 100px;
}

.mt-15 {
    margin-top: 150px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.block {
    display: block;
    width: 100%;
}

.grey-text {
    color: #666666;
}

.black-text {
    color: #000;
}

.white-bg {
    background-color: #ffffff;
}

.div-shadow {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

header {
    background: #fff;
    padding: 5px 0px;
    font-weight: 400;
    font-size: 16px;
}
.navbar-brand{
    padding-top: 3px;
    padding-bottom: 0;
    margin-right: 0;
    font-size: var(--bs-navbar-brand-font-size);
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
}

.navbar-brand img {
    height: 45px;
}

.default-button-large {
    height: 50px !important;
    padding: 0px 35px !important;
    line-height: 50px !important;
}

.nav-link {
    color: #000;
    transition: all 0.3s;
}

.nav-link:hover {
    color: #24488F;
}

.nav-item {
    margin-left:25px;
    margin-right: 25px;
}

.light-blue {
    background-color: rgb(36, 71, 143, 0.1);
    position: relative;
}

.sub-title {
    color:#AAAAAA;
    font-size: 22px;
    line-height: 29px;
}

.empower-pic {
    height: 430px;
    border-radius:10px;
    position: absolute;
    left:20%;
    top:22%;
}

.services-title {
    font-size: 12px;
    letter-spacing: 3px;
}

.services-bold-caption {
    font-size: 40px;
    line-height: 50px;
    font-weight: 500;
}

.loan-type-list {
    margin-left: 23%;
}

.loan-type-list li {
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.green-circle {
    background: #33D290;
    color: #ffffff;
    border-radius: 50%;
    padding:5px;
    font-size: 11px;
    line-height: 20px;
    margin-right: 7px;
}

.default-button {
    display: inline-block;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    height: 44px;
    padding: 0px 25px;
    line-height: 44px;
}
.default-button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #24488F;
    border-radius: 4px;
    z-index: -2;
}
.default-button:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #33D290;
    transition: all 0.3s;
    border-radius: 4px;
    z-index: -1;
}
.default-button:hover {
    color: #fff;
}
.default-button:hover:before {
    width: 100%;
}


.default-button-white {
    display: inline-block;
    border-radius: 4px;
    color: #000000;
    font-size: 16px;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    height: 44px;
    padding: 0px 25px;
    line-height: 44px;
}
.default-button-white:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 4px;
    z-index: -2;
}
.default-button-white:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #33D290;
    transition: all 0.3s;
    border-radius: 4px;
    z-index: -1;
}
.default-button-white:hover {
    color: #fff;
}
.default-button-white:hover:before {
    width: 100%;
}


.default-button-green {
    display: block;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    height: 44px;
    padding: 0px 25px;
    line-height: 44px;
    text-align: center;
}
.default-button-green:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #33D290;
    border-radius: 4px;
    z-index: -2;
}
.default-button-green:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #ffffff;
    transition: all 0.3s;
    border-radius: 4px;
    z-index: -1;
}
.default-button-green:hover {
    color: #000000;
}
.default-button-green:hover:before {
    width: 100%;
}




.default-transparent-button {
    background: #fff !important;
    color: #222222 !important;
    padding: 0px 15px;
}

.default-transparent-button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff !important;
    border-radius: 4px;
    z-index: -2;
}

.default-rounded,
.default-rounded:after,
.default-rounded:before {
    border-radius: 30px;
}

.top-line {
    border-top: 1px solid #ddd;
}

.dark-grey-1 {
    background: #F4F4F4;
    border-radius: 10px;
    padding: 30px;
}

.dark-grey-2 {
    background: #F4F4F4;
    border-radius: 10px;
}

.stop-worry-title {
    font-size: 35px;
    line-height: 40px;
    font-weight: 500;
}
.stop-worry-sub-title {
    font-size: 19px;
    line-height: 30px;
}

.stop-worry-pic {
    height: 330px;
    border-radius:18px;
}

.white-bg-form {
    background-color: #fff;
    font-size: 16px;
}

.white-bg-form label {
    font-weight:400;
}


.light-blue {
    background: #E4EBFE;
    color: #000;
}

.white-bg-form input[type="text"] {
    background-color: transparent;
    border-color: #E0EAF3;
    height: 50px;
}
.white-bg-form input[type="text"]:focus {
    background-color: #fff;
}

.form-check-input { 
    width: 1.5em;
    height: 1.5em;
    margin-right: 10px;
}

hr.greybg {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: 2px solid #b8b0b0;
    opacity: .25;
}

hr.greybg2 {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: 3px solid #666666;
    opacity: .50;
    width: 100px;
}

.about-title {
    font-size: 13px !important;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-right: 12px;
}

.about-holder {
    display: flex;
    align-items: center;
}

.light-blue h4 {
    font-size: 35px;
    font-weight: 500;
    line-height: 40px;
}

.light-blue p {
    font-size: 19px;
    line-height: 27px;
    color:#625f5f;
}

footer {
    background-color: #24488F;
    color: #fff;
}

footer h4 {
    font-size: 35px;
    line-height: 43px;
    font-weight: 500;
    color: #fff;
}

hr.footerline {
    border-top: 2px solid #ADADAD;
}

.fueling-dreams {
    font-size:19px;
    color: #B7B7B7;
    line-height: 27px;
    margin-top: 10px;
}

.footer-link-title { 
    text-transform:uppercase;
    font-size: 14px;
    letter-spacing: 3px;
    color: #fff;
    font-weight: 500;
    margin-top: 3px;
    margin-bottom: 10px;
}

.footer-link {
    list-style-type: none;
    padding-left: 0px;
}

.footer-link li {
    margin-bottom: 7px;
}
.footer-link li a {
    color:#fff;
    
}

.footer-newsletter-desc {
   color: #BCBEC0;
   font-size: 16px;
   line-height: 26px;
}

.footer-newsletter-form {
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    width: 100%;
    color: #fff;
    padding: 5px 10px;
}

.footer-newsletter-form::placeholder {
    color: #fff;
}

.footer-social-links {
    list-style-type: none;
    display: flex;
    justify-content: end;
}

.footer-social-links li a {
    color: #fff;
    margin-left:20px;
}

.nav-pills {
    --bs-nav-pills-border-radius: var(--bs-border-radius);
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #24488F;
    background: #e8e8e8;
    padding: 5px;
    border-radius: 5px;
}

.nav-pills .nav-item {
    margin-left: 0;
    margin-right: 0;
}

.onboard-icon {
    height: 25px;
}

  
/*========================================================================
4. Onboarding
=========================================================================*/

.onboarding-form {
    font-size: 15px;
    line-height: 20px;
    padding: 35px 60px;
}

.onboarding-form h3 {
    font-size: 27px;
    font-weight: 700;
    margin-top:20px;
    margin-bottom: 10px;
}

.onboarding-form label {
    font-weight: 500;
    margin-bottom: 5px;
}

.onboarding-form hr {
    border-top: 1px solid #000;
}

.onboarding-form input[type=text],
.onboarding-form input[type=email],
.onboarding-form input[type=password],
.onboarding-form input[type=number]
{
    padding-left : 40px;
    border: 1px solid #24488F;
}

.onboarding-form input[type=password] {
    padding-right: 35px;
}

.onboarding-form input::placeholder {
    color: #999;
}

.phone-icon { 
    float: left;
    margin-left: 14px;
    margin-top: -26px;
    position: relative;
    z-index: 2;
    color: #24488F;
    padding-right: 12px;
    cursor: pointer;
}

.phone-icon img { 
    width: 19px;
    height: 19px;
}

.email-icon {
    float: left;
    margin-left: 13px;
    margin-top: -30px;
    position: relative;
    z-index: 2;
    color: #24488F;
    padding-right: 12px;
    cursor: pointer;
}

.email-icon img {
    width: 20px;
    height: 16px;
}

.user-icon {
    float: left;
    margin-left: 15px;
    margin-top: -27px;
    position: relative;
    z-index: 2;
    color: #24488F;
    padding-right: 12px;
    cursor: pointer;
}

.user-icon img {
    width: 20px;
    height: 16px;
}

.lock-icon {
    float: left;
    margin-left: 12px;
    margin-top: -30px;
    position: relative;
    z-index: 2;
    color: #24488F;
    padding-right: 12px;
    cursor: pointer;
}

.lock-icon img {
    width: 24px;
    height: 23px
}

.eye-icon {
    float: right;
    margin-left: -25px;
    margin-top: -26px;
    position: relative;
    z-index: 2;
    color: #24488F;
    padding-right: 12px;
    cursor: pointer;
}

.continue-button {
    background-color: #24488F;
    color:#ffffff;
    border: none;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    transition: all 0.3s;
}

.continue-button:hover { 
    background-color: #999;
    color: #fff;
}


.continue-button-2 {
    background-color: #24488F;
    color: #ffffff;
    border: none;
    line-height: 40px;
    border-radius: 10px;
    transition: all 0.3s;
    width: 100%;
    display: block;
    padding: 12px 20px;
    text-align: center;
}

.continue-button-2:hover { 
    background-color: #999;
    color: #fff;
}

.continue-button-3 {
    background-color: #33D290;
    color: #ffffff;
    border: none;
    line-height: 40px;
    border-radius: 10px;
    transition: all 0.3s;
    width: 100%;
    display: block;
    padding: 12px 20px;
    text-align: center;
}

.continue-button-3:hover { 
    background-color: #999;
    color: #fff;
}




.continue-button-5 { 
    background-color: #fff;
    color: #000;
    border: 1px solid #999;
    line-height: 22px;
    box-shadow: 1px 1px 10px #ccc;
    border-radius: 3px;
    transition: all 0.3s;
    width: 100%;
    display: block;
    padding: 12px 20px;
    text-align: center;
}

.continue-button-5:hover { 
    background-color: #999;
    color: #fff;
}


.continue-button-6 { 
    background-color: transparent;
    color: #000;
    border: 1px solid #24488F;
    line-height: 22px;
    border-radius: 3px;
    transition: all 0.3s;
    width: 100%;
    display: block;
    padding: 12px 20px;
    text-align: center;
}

.continue-button-6:hover { 
    background-color: #999;
    color: #fff;
}

.continue-button-4 {
    background-color: #fff;
    color: #000;
    border: 1px solid #24488F;
    border: none;
    line-height: 40px;
    border-radius: 10px;
    transition: all 0.3s;
    width: 100%;
    display: block;
    padding: 12px 20px;
    text-align: center;
}

.continue-button-4:hover { 
    background-color: #999;
    color: #fff;
}


.have-account {
    background: #E4EBFE;
    border: 1px solid #24488F;
    color:#fff;
    display: block;
    height: 40px;
    font-size: 13px;
    border-radius: 10px;
    line-height: 40px;
    color:#191919;
    text-align: center;
}

.have-account span {
    color:#24488F;
}

.privacy-area {
    font-size: 11px;
}

.error {
    color: red;
    font-size: 12px;
}

.verify_pin-parent {
    display: flex;
    justify-content: center;
}
.pinClass {
    width: 64px;
    height: 64px;
    text-align: center;
    margin: 0 5px;
    padding-left: 0px !important;
    font-size: 30px;
    line-height: 30px;
}
/*========================================================================
5. Sign in
=========================================================================*/

.signin-form {
    font-size: 15px;
    line-height: 20px;
    padding: 35px 60px;
    color:#ADADAD;
}

.signin-form h3 {
    font-size: 27px;
    font-weight: 700;
    margin-top:20px;
    margin-bottom: 10px;
}

.signin-form label {
    font-weight: 500;
    margin-bottom: 5px;
}

.signin-form hr {
    border-top: 1px solid #000;
}

.signin-form input[type=text],
.signin-form input[type=email],
.signin-form input[type=password],
.signin-form input[type=number]
{
    padding-left : 10px;
    border: 1px solid #ADADAD;
    ;
}


input[type="file"]{
    display: none;
}

.upload-button {
    border: 1px solid #24488F;
    color:  #24488F;
    transition: all 0.3s;
    display: block;
    cursor: pointer;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
}
.upload-button:hover { 
    background-color: #33D290;
    border-color: #33D290;
    color: #fff;
}

/*========================================================================
6. Sidebar
=========================================================================*/
.left-sidebar {
    background-color: #ffffff;
    width: 300px;
    height: 100%;
    padding: 30px 20px;
    position: relative;
    z-index: 20;
    min-height: 600px;
}

.left-sidebar .navbar-brand img {
    height: 42px;
    margin-left: 15px;
}

.sidebar-links {
    padding-left:0px;
}
.sidebar-links li {
    list-style-type: none;
}

.sidebar-links li a {
    color: #000;
    transition: all 0.3s;
    padding: 10px 18px;
    background-color: transparent;
    display: block;
    border-radius: 10px;
    transition:  all 0.3s;
}

.sidebar-links li a:hover {
    color:#24488F;
    background-color: #E4EBFE;

}

.sidebar-links li a img {
    height: 15px;
    margin-right: 5px;

}

.place-at-botttom {
    position: absolute;
    bottom: 5px;
    width: 260px;
}

.right-pane {
    width: calc(100% - 300px);
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
}

/*========================================================================
7. User Dashboard
=========================================================================*/
.dashboard-area {
    display: flex;
}
.users-dashboard-header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding-top: 30px;
    padding-right: 20px;
}
.user-name-label {
    font-weight: 600;
}

.notification-img {
    height: 23px;
}

.notification-circle {
    background-color: #cc0000;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    line-height: 20px;
    text-align: center;
    font-size: 13px;
    position: absolute;
    right: 13.5%;
    top: 42%;
    display: none;
}

.user-circle img {
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
}

.user-drop-down {
    display: inline-block;
    background-color: transparent !important;
}

.user-drop-down button {
    border:none;
    background-color: transparent;
}

.welcome-label {
    font-weight: 600;
}

.add-loan-button {
    background-color: #24488F;
    color: #fff;
    padding: 15px;
    display: block;
    text-align: center;
    border-radius: 10px;
}
.add-loan-button:hover {
    background-color: #999;
    color: #fff;
}

.add-loan-button i {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin-right: 5px;
}



/*========================================================================
8. Upload Form
=========================================================================*/

.upload-form {
    font-size: 15px;
    line-height: 20px;
    padding: 35px 60px;
}

.upload-form h3 {
    font-size: 22px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.upload-form label {
    font-weight: 500;
    margin-bottom: 5px;
}

.upload-form hr {
    border-top: 1px solid #000;
}

.upload-form input[type=text],
.upload-form input[type=email],
.upload-form input[type=password],
.upload-form input[type=number],
.upload-form select
{
    padding: 10px 15px;
    border: 1px solid #ADADAD;
}

.upload-form select {
    width: 100%;
    border-radius: 5px;
}

.upload-form input[type=password] {
    padding-right: 35px;
}

.upload-form input::placeholder {
    color: #999;
}

.nav-arrow-areas {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 88%;
    margin-left: 4%;
    top: 2%;
}

.illustration-space {
    margin-top: 80px;
    margin-bottom: 140px;
}

.illustration-space-2 {
    margin-top: 40px;
    margin-bottom: 70px;
}

.illustration-space-3 {
    margin-top: 60px;
    margin-bottom: 25px;
}

.search-box {
    width: 100%;
    height: 50px;
    border: 1px solid #B7B7B7 !important;
    border-radius: 10px;
    background-image: url(../img/search-icon.png);
    background-repeat: no-repeat;
    background-position-x: 13px;
    background-position-y: 17px;
}

.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: 0.125rem;
    line-height: 31px;
}

.singleCheck {
    border: 1px solid #b7b7b7;
}



#ddArea img {
    margin-bottom: 20px;
}

.drag_over {
    color: #000;
    border-color: #000;
}


.preloader-2 {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    left:55%;
    top: 40%;
    display: none;
}
.preloader-2 div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #7571f9;
    animation: preloader-2 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.preloader-2 div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}
.preloader-2 div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}
.preloader-2 div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}
@keyframes preloader-2 {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
}

.imgTag{
    height: 200px;
}


.re-upload {
    border: 1px solid #ddd;
    padding: 10px 15px;
    border-radius: 5px;
    color: #000;
    background: #fff;
    display: none;
}

.re-upload:hover { 
    background: #24488F;
    color: #fff;
}

.kyc-complete {
    height: 130px;
}

.loan-description-box {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #E4EBFE;
    color: #000;
}
.select-glow {
    padding: 7px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
}



.loanArea select { 
    padding: 15px;
    border-radius: 10px;
    text-align: left;
}

.loanArea select:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}
  
/* Point the arrow upwards when the select box is open (active): */
.loanArea select.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}
  
.loanArea input[type=text],
.loanArea input[type=number] {
    border: 1px solid #ADADAD;
    background-color: transparent;
    width: 100%;
    border-radius: 7px;
    padding: 10px 20px;
}


/*========================================================================
9. LOANS
=========================================================================*/

.page-lead h3 {
    margin-bottom: 0;
    font-size: 30px;
}

.loan-display {
    color: #000;
}

.loan-display .current-loan-amount {
    margin-bottom: 0;
}

.loan-display p {
    margin-bottom: 0px;
    line-height: 22px;
}

.loan-display h3 {
    font-size: 39px;
    font-weight: 600;
}

.loan-display h4 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 0;
}

.loan-display p {
    line-height: 22px;
}

.loan-display input[type=text] {
    border:2px solid #191919;
    background-color: transparent;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    padding-left: 10px;
}

.loan-status-pending { 
    background-color: #FFD600;
    display: block;
    color: #fff;
    font-weight: 700;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
}

.loan-status-awaiting { 
    background-color: #FFD600;
    display: block;
    color: #fff;
    font-weight: 700;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
}

.loan-status-approved { 
    background-color: #33D290;
    display: block;
    color: #fff;
    font-weight: 700;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
}

.loan-status-declined { 
    background-color: #FF0000;
    display: block;
    color: #fff;
    font-weight: 700;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
}


.loan-status-running { 
    background-color: #24488F;
    display: block;
    color: #fff;
    font-weight: 700;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
}

.top-line {
    border-top: 1px solid #BCBEC0;
}



.repayment-text {
    line-height: 17px;
}

.repayment-text img {
    margin-right: 10px;
}

.payment-radio {
    background-color: transparent;
    border-color: #000;
}

.loan-duration-area {
    background-color: #24488F;
    color: #fff;
    border-radius: 10px;
    padding: 20px 20px;
}

.loan-duration-area .row {
    border-top:1px solid rgba(173, 173, 173, 0.5);
    --bs-gutter-x: 0rem;
}

.loan-duration-area .row:last-child {
    border-bottom:1px solid rgba(173, 173, 173, 0.5);
}

.loan-duration-area .row > div:not(:last-child) {
    border-right: 1px solid rgba(173, 173, 173, 0.5);
}

.loan-duration-area .row > div {
    padding: 10px 10px;
}

.loan-repayment-area {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.loan-repayment-area p {
    margin-bottom: 5px;
}

.loan-repayment-area .row {
    padding: 10px;
    cursor: pointer;
}

.loan-repayment-area .row:hover {
    background-color: #BCBEC0;
    border-radius: 10px;
    padding: 10px;
}

.proof-of-payment {
    background-color:  #E4EBFE;
    padding: 15px 20px;
    border-radius: 10px;
    line-height: 22px;
}

.proof-of-payment hr {
    margin: 11px 0;
    color: inherit;
    border: 0;
    border-top: 3px solid;
    opacity: .25;
}

.proof-of-payment-2 {
    background-color: #f6dfd7;
    padding: 15px 20px;
    border-radius: 10px;
    line-height: 22px;
}

.info-area .row {
    border-top:1px solid rgba(173, 173, 173, 0.5);
    --bs-gutter-x: 0rem;
}

.info-area .row:last-child {
    border-bottom:1px solid rgba(173, 173, 173, 0.5);
}

.info-area .row > div:not(:last-child) {
    border-right: 1px solid rgba(173, 173, 173, 0.5);
}

.info-area .row > div {
    padding: 10px 10px;
}

.repayment-item {
    line-height: 20px;
}

.repayment-item2 {
    border-top: 1px solid #ddd;
    font-size:18px;
    line-height: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.repayment-item2 .repayment-price{
    font-size: 27px;
}

.underline {
    border-bottom: 1px solid #ddd;
}

.repayment-price {
    font-size: 18px;
    font-weight: 600;
}

.imgTag2 {
    border:1px solid #ddd;
    border-radius: 5px;
    padding:10px;
    width: 80px;
    height: 80px;
}

.imgTag3 {

    width: 114px;
    height: 114px;
    opacity:0.5
}

.nav-area {
    box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    line-height: 25px;
}

.payment-details-bank {
    font-size: 20px;
    line-height: 32px;
}

.deeper-grey {
    background-color:#e4e4e4;
}

#settingsArea .list-group-item {
    border: none;
    padding:0px;
}

#settingsArea .list-group-item img {
    margin-right: 20px;
    max-width: 19px;
}

.group-button {
    color: #000;
    padding: 10px 10px;
    border-radius: 5px;
    transition: all 0.3s;
}

.group-button:hover,
.group-button:focus
{
   background-color: #24488F;
   color:#fff;
}


.highlightText {
    font-size:30px;
    font-weight: 700;
}


@media (max-width: 767px) {
    .left-sidebar{
        margin-left: -75px;
    }
}
@media (max-width: 480px) {
    .left-sidebar {
      z-index: 10;
    }
    .button-menu-mobile {
      display: block;
    }
}

.loan-detail-form {
    line-height:22px;
}

.loan-detail-form h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
}
.loan-detail-form h4 {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}

.loan-detail-form .underline {
    border-bottom: 1px solid #ddd;
}

.userPicArea {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 114px;
    height: 114px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.upload-profilepic-box {
    background-color: #D9D9D9;
    color: #000;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    height: 40px;
    text-align:center;
    line-height: 35px;
}

.upload-profilepic-box:hover {
    background-color: #999;
    color: #fff; 
}

.userpic {
    height: 114px;
    height: 114px;
}

.upload-profilepic-box img {
    height: 17px;
}